<div class="header-container">
	<div class="logo-container">
		<div (click)="toggleSidebar.emit()" class="sidebar-toggle">
			<nb-icon class="menu-icon" icon="menu-2-outline"></nb-icon>
		</div>
		<span class="logo">MOVIES</span>
	</div>
	<nb-actions size="medium" class="options-container">
		<nb-action disabled icon="search-outline"></nb-action>
		<nb-action
			nbButton
			class="theme-button"
			(click)="toggleTheme()"
			[icon]="currentIcon"
		>
		</nb-action>
		<nb-action>
			<nb-user
				[name]="user"
				[nbContextMenu]="items"
				nbContextMenuTag="my-context-menu"
			>
			</nb-user>
		</nb-action>
	</nb-actions>
</div>
