<div class="header-container">
	<div class="logo-container">
		<div (click)="toggleSidebar.emit()" class="sidebar-toggle">
			<nb-icon class="menu-icon" icon="menu-2-outline"></nb-icon>
		</div>
		<span class="logo">MOVIES</span>
	</div>
	<nb-actions size="medium" class="options-container">
		<nb-action>
			<nb-form-field (click)="openSearch()">
				<nb-search
					nbPrefix
					class="search"
					placeholder="Buscar Título"
					type="rotate-layout"
				>
				</nb-search>
				<input nbInput type="text" [value]="search" />
			</nb-form-field>
		</nb-action>
		<nb-action
			nbButton
			class="theme-button"
			(click)="toggleTheme()"
			[icon]="currentIcon"
		>
		</nb-action>
		<nb-action>
			<nb-user
				[name]="user"
				[nbContextMenu]="items"
				nbContextMenuTag="my-context-menu"
			>
			</nb-user>
		</nb-action>
	</nb-actions>
</div>
